* {
    box-sizing: border-box;
  }
  .text-red {
    color: red;
    font-size: 12px;
    margin-top: 0px;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    background: url('background.jpg');
  }
h1 {
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    color: rgb(50, 3, 94);
  }
  
.employpage{
display: flex;
width: 1000px;
flex-wrap: wrap;
margin: auto;
font-family: verdana;
font-size: 16px;
border: solid 2px #f1f1f1;
}
.employpage .formdata{
  width:40%;
  padding:15px;
  
}
.employpage .display_table {
    padding:15px;
    width:52%;
}
.employpage .display_table table{
    border:solid 3px #ccc;
    background-color: rgb(190, 189, 189);
}
.employpage .display_table td, 
.employpage .display_table th{
    border-left:solid 2px #4e4848;
    border-bottom:solid 2px #4e4848;
    padding:10px 5px;
    text-align:left;
    font-size:13px;
}
  
.employpage .display_table tr{
    border-bottom:solid 3px #ccc;
    text-align: center;
}

.formdata form{
display:flex;
flex-wrap:wrap;
background:#f1f1f1;
padding:15px;
}
.formdata form label{
width:100px;
}
.formdata form input, .formdata label{
margin:10px 0;
padding:5px;
} 
.formdata form input{
width:200px;
padding:7px;
}
.formdata th{
background:#f1f1f1; 
font-size:14px; 
font-weight:bold;
text-align:left;
}
.formdata #submit{
background:#000;
padding:5px 10px;
font-size:20px;
margin:25px auto;
display:table;
color:#fff;
}
  
  